<h1>THIS IS A PRETEND PAGE!!</h1>
<div class="session hidden"><%= @current_user %></div>

<div class="modal" role="dialog" aria-labelledby="my-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <br>
      <h4 class="modal-text-main">You are not signed in!  Please continue to sign in.</h4>
      <br>
      <div class="modal-footer press-pass">
        <p>or</p>
        <a href="/signin" class="btn btn-press">Sign In with <strong>PressPass</strong></a>
        <br>
        <br>
        <p>Don't have an account? <a href="/signin">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>
