<h1>Please sign in to PressPass:</h1>
<form name="signin" action="/signin" method="post">
Email: <input type="text" name="email">
Password: <input type="text" name="password">
<input type="submit" value="Submit">
</form>
